
.navbar
{
  background-color: black;
}
.navbar-collapse.collapse.in {
  display: block;
  z-index:1000;
  padding-left: 0%;
  padding-right:0%;
}
.navbar-nav {
  float: none;
  margin: 0;
  text-align: center;
  
}
.navbar-default .navbar-nav {
  position:relative;
  width: 100%;
  left: 0;
  background-color:beige;
  z-index:1000;
}
.nav-item
{
  border:1px solid black;
  padding:0%;
  
}

.navbar-brand.bg-dark {
  background-color: black;
  color: white; /* Optional: Set text color to white */
}
.menu-text
{
  margin: 20px;
}
.tall-section
{
  
  background-color: lightgray;
}